{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page not found</h1>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {# ... #}
    {% endif %}

    <p>
        Cette page n'existe pas !
        Retour à la page d'<a href="{{ path('page_accueil_principale') }}">accueil</a>.
    </p>
{% endblock %}