{# app/Resources/TwigBundle/views/Exception/error404.html.twig #}
{% extends 'FrontBundle:Default:frontLayout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/error.css') }}">
{% endblock %}

{% block body %}
    <div class="error">
        <h1>Page non trouvée</h1>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {# ... #}
        {% endif %}

        <p>
            Cette page n'existe pas !
            Retour à la page d'<a href="{{ path('page_accueil_principale') }}">accueil</a>.
        </p>
    </div>



{% endblock %}