<html>
<head>

    <link href="{{ absolute_url(asset('css/bootstrap.min.css')) }}" rel="stylesheet">
    <link href="{{ absolute_url(asset('css/font-awesome.min.css')) }}" rel="stylesheet">
    <link href="{{ absolute_url(asset('css/presence_pdf.css')) }}" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <img src="{{ absolute_url(asset('images/logo.jpg')) }}">
            <p>Secouristes du Loiret - Formations SST<br/>
            15 Quai du Roi 45000 ORLEANS<br/>
            Tél: 0238431273 - Email : contact@secourisme45.com<br/>
            Numéro de déclaration: n° 24 45 01 71 345</p>
        </div>
    </div>
    <h1>CONVOCATION</h1>
    <P>Suite à votre inscription à la formation cité ci-dessous, j'ai l'honneur de vous convoquer aux dates
        suivantes :</P>
    <table>
        <tr>
            <thead></thead>
            <td></td>
        </tr>
    </table>
</div>