{% extends 'AdminBundle::adminLayout.html.twig' %}
{% block body %}
    <div class="alert alert-success">Bienvenue dans la partie administration</div>


    {% for formulaire in  formulaires %}

    <h1>Attente de validation</h1>

        <p>{{ formulaire.statut }}</p>

    <h1>Attente de paiement</h1>

        <p>{{ formulaire.statut }}</p>

    {% endfor %}



{% endblock %}