Bonjour {{ prenom }} {{ nom }},

Vous venez d'être inscrit à la formation {{ formation.nomLong }} organisée par la FÉDÉRATION FRANÇAISE
DE SAUVETAGE ET DE SECOURISME du Loiret.

Retrouver toutes les informations sur {{ absolute_url(path('fos_user_profile_show')) }} votre compte personnel</a>

Merci de votre confiance et à très bientôt. Les Secouristes du Loiret