Bonjour.<br>,

Afin de valider votre inscription, merci de finaliser votre inscription en suivant ce lien :

<a href="http://localhost/atelierPHP/ffss_2/orleans-0916-ffss45-v2/web/app_dev.php/register/">Finaliser mon inscription</a>

<br>
