

Bonjour {{ prenom }} {{ nom }},

Vous venez d'être inscrit à une formation organisée par la FÉDÉRATION FRANÇAISE
DE SAUVETAGE ET DE SECOURISME du Loiret.

Retrouver toutes les informations sur <a href="http://localhost/atelierPHP/ffss_2/orleans-0916-ffss45-v2/web/app_dev.php/register/">votre compte personnel</a>

