{% extends 'FrontBundle:Default:frontLayout.html.twig' %}

{% block body %}
    <div class="container-fluid">

        <div class="alert alert-success">
            Merci pour votre inscription, celle-ci a bien été validée. Elle sera effective à réception de votre réglement.
        </div>
        <div class="text-center">

            <a class="btn btn-default btn-lg " href="{{ path('page_accueil_principale') }}">Retour</a>
        </div>
    </div>
{% endblock %}