{#{% extends "FOSUserBundle::layout.html.twig" %}#}
{% extends 'FrontBundle:Default:frontLayout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
{% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': app.user.username}) }}</p>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
{% endblock fos_user_content %}
{% endblock %}