{#{% extends "FOSUserBundle::layout.html.twig" %}#}
{% extends 'FrontBundle:Default:frontLayout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
    {% block fos_user_content %}
        <div class="space" style="height: 500px">
            <p>{{ 'registration.confirmed'|trans({'%username%': app.user.username}) }}</p>
            <a class="btn btn-primary" href="{{ path('fos_user_profile_show') }}" class="log" >Rejoindre l'Espace Client</a>
        </div>
        {% if targetUrl %}
            <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
        {% endif %}
    {% endblock fos_user_content %}
{% endblock %}