<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ asset('css/presentation.css') }}">
    <link rel="stylesheet" href="{{ asset('css/listFormation.css') }}">
</head>
    {% trans_default_domain 'FOSUserBundle' %}

<h1>Inscription</h1>
            <form>

                <div class="input-container">
                    <input type="text" id="Username" required="required"/>
                    <label for="Username">Username</label>
                    <div class="bar"></div>
                </div>

                <div class="input-container">
                    <input type="password" id="Password" required="required"/>
                    <label for="Password">Password</label>
                    <div class="bar"></div>
                </div>

                <div class="input-container">
                    <input type="password" id="Repeat Password" required="required"/>
                    <label for="Repeat Password">Repeat Password</label>
                    <div class="bar"></div>
                </div>

                <div class="input-container">
                    <input type="email" id="email" required="required"/>
                    <label for="email">E-mail</label>
                    <div class="bar"></div>
                </div>

 				<div class="input-container">
                    <input type="text" id="nom" required="required"/>
                    <label for="nom">nom</label>
                    <div class="bar"></div>
                </div>

                <div class="input-container">
                    <input type="text" id="prenom" required="required"/>
                    <label for="prenom">Prénom</label>
                    <div class="bar"></div>
                </div>

                 <div class="input-container">
                    <input type="text" id="age" required="required"/>
                    <label for="age">age</label>
                    <div class="bar"></div>
                </div>

                 <div class="input-container">
                    <input type="text" id="date_naissance" required="required"/>
                    <label for="date_naissance">date de naissance</label>
                    <div class="bar"></div>
                </div>

                <div class="input-container">
                    <input type="text" id="lieu_naissance" required="required"/>
                    <label for="lieu_naissance">lieu de naissance</label>
                    <div class="bar"></div>
                </div>

                <div class="input-container">
                    <input type="text" id="departement_naissance" required="required"/>
                    <label for="departement_naissance">departement de naissance</label>
                    <div class="bar"></div>
                </div>

                <div class="input-container">
                    <input type="text" id="adresse" required="required"/>
                    <label for="adresse">adresse</label>
                    <div class="bar"></div>
                </div>

                <div class="input-container">
                    <input type="text" id="code_postal" required="required"/>
                    <label for="code_postal">code postal</label>
                    <div class="bar"></div>
                </div>

                <div class="input-container">
                    <input type="text" id="ville" required="required"/>
                    <label for="ville">ville</label>
                    <div class="bar"></div>
                </div>

                <div class="input-container">
                    <input type="text" id="tel" required="required"/>
                    <label for="tel">tel</label>
                    <div class="bar"></div>
                </div>

                 <div class="input-container">
                    <input type="text" id="relation" required="required"/>
                    <label for="relation">relation</label>
                    <div class="bar"></div>
                </div>





               






                <div class="button-container">
                    <button><span>Next</span></button>
                </div>

            </form>
