{% extends "base.html.twig" %}

{% block body %}
    <p>vous vous etes corrctement identifiés</p>

    <p><a href="{{ path('client_page') }}">accéder à l'espace réservé aux clients</a></p>


    <p><a href="{{ path('admin_page') }}">accéder à l'espace réservé aux admin</a></p>
{% endblock %}