
<?php

   <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

</head>
<body>



<div class="container">
    <div class="row">

        <div class="span9">
            <h2>Votre panier</h2>
            <form>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Formation</th>
                        <th>Quantité</th>
                        <th>Prix unitaire</th>
                        <th>Prix total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{% for item in panier %}
                            <li>{{ item.agenda.formation.nomLong }}</li>
                            {% endfor %}</td>
                        <td>
d
                        </td>
                        <td>{% for item in panier %}
                            <li>{{ item.agenda.formation.prix }} €</li>
                            {% endfor %} </td>
                        <td>-€</td>
                    </tr>
                    <tr>
                        <td>-</td>


                    </tr>
                    </tbody>
                </table>
            </form>

            <dl class="dl-horizontal pull-right">




                <dt>Total:</dt>
                <dd>-€</dd>
            </dl>
            <div class="clearfix"></div>
            <a href="livraison.php" class="btn btn-success pull-right">Valider mon panier</a>
            <a href="index.php" class="btn btn-primary">Continuer mes achats</a>
        </div>

    </div>
</div>










</body>
</html>
