{% extends 'FrontBundle:Default:frontLayout.html.twig' %}
{% block body %}



<h1>Paiement</h1>


<a href="{{path ('final_subscription')}}" class="btn btn-danger pull-right" type="submit">Envoyer mail</a>

<a class="btn btn-primary" href="{{ path('valid_cart' ) }}">Back </a>{% endblock %}