{% extends 'FrontBundle:Default:frontLayout.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% set panier = app.session.get('panier') %}
{% block body %}

    <div class="container">

        {% for article_id, article in panier %}

            {% if article.quantity is defined %}
                <h2>Formation {{ article.agenda.formation.nomLong }}</h2>

                {% for i in 1 .. article.quantity %}
                    <div class="row" id="load_form_valid_inscrit{{ i }}">
                        <div>
                            {% render(controller('CommerceBundle:Panier:addInscrit', {'id':article_id, 'key':i} )) %}

                        </div>
                    </div>
                {% endfor %}

            {% else %}
                <div class="alert alert-danger">Erreur dans le panier, veuillez recommencer votre sélection
                    <a href="{{ path('panier') }}">Retour au panier</a>
                </div>
            {% endif %}
        {% endfor %}


    {% include('CommerceBundle:Default:paymentForm.html.twig') %}

    {% endblock %}


