{% extends 'FrontBundle:Default:frontLayout.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block body %}

    <div class="container">

        <h1>Choix du mode de paiement</h1>

        {% include('CommerceBundle:Default:paymentForm.html.twig') %}


    </div>
{% endblock %}

