{% extends 'AdminBundle::adminLayout.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block body %}
    <h1>Créer une Inscription</h1>
    <div class="container">
        <div class="row">


            {{ form_start(form) }}

            {{ form_widget(form) }}
            <input type="submit" value="Create"/>
            {{ form_end(form) }}

            <ul>
                <li>
                    <a href="{{ path('reservation_agenda_index', { 'id': agenda.id }) }}">Back to the list</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
