{% extends '@Front/Default/frontLayout.html.twig' %}




{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/mentions_legales.css') }}">
{% endblock %}
{% block body %}



    <h1>CONDITIONS GÉNÉRALES DE VENTE </h1>

    <p></p>

    </br>
    </br>
    </br>
    </br>
{% endblock %}