<div class="center">
    <img class="logo-footer" src="Images/logo2.png" alt="Logo FFSS45">
</div>



</br>
</br>
</br>

<div class="container-fluid">

    <div class="row">

        <!--  Footer gauche -->

        <div class="col-md-8">

            <div class="col-md-6">
                <a href="">Particuliers</a> </br>
                </br>
                <a href="">Professionnels</a> </br>
                </br>
                <a href="">Poste de Secours</a> </br>
                </br>
                <a href="">News</a> </br>
            </div>

            <div class="col-md-6"
            <a href="">Qui sommes-nous</a> </br>
            </br>
            <a href="">Mentions légales</a> </br>
            </br>
            <a href="">Intranet</a> </br>
            </br>
            <a href="">Rejoignez-nous</a> </br>
        </div>

    </div>



    <div class="col-md-4">

        <a href="">Contact</a> </br>
        </br>
        </br>
        </br>
        <a href="">Réalisé par</a>
        <a href="http://www.wildcodeschool.fr"><img src="Images/logo_small_orange_horizontal.png" class="logo_WCS"></a>
    </div>



</div>

</div>


</br>




<!-- 2eme container-->

<div class="container-fluid">
    <div class="row2">
        <div class="hidden-xs">

            <div class='last_footer_responsive color_ml' style='margin-right: 40px; margin-left: 15px; margin-top: 10px; display: inline-block;'> FFSS Fédération Française de Secourisme et de Sauvetage - Tous droits réservés. Orléans

            </div>
        </div>

        <div class="visible-xs">

            <p id="footer">FFSS45 à ORLEANS</p>

        </div>


    </div>
</div>
