
<footer>
    <div class="container-fluid">
    <img class="logo-footer" src="{{ asset('images/logo2.png') }}" alt="Logo FFSS45">
</br>
</br>
</br>

    <div class="row">
        <!--  Footer gauche -->
        <div class="col-md-8">
            <div class="col-md-6">
                <a href="">Particuliers</a> </br>
                </br>
                <a href="">Professionnels</a> </br>
                </br>
                <a href="">Poste de Secours</a> </br>
                </br>
                <a href="">News</a> </br>
            </div>
            <div class="col-md-6"
            <a href="">Qui sommes-nous</a> </br>
            </br>
            <a href="">Mentions légales</a> </br>
            </br>
            <a href="">Intranet</a> </br>
            </br>
            <a href="">Rejoignez-nous</a> </br>
        </div>
    </div>
    <div class="col-md-4">
        <a href="">Contact</a> </br>
        </br>
        </br>
        </br>
        <a href="">Réalisé par</a>
        <a href="http://www.wildcodeschool.fr"><img src="{{ asset('images/logo_small_orange_horizontal.png') }}" class="logo_WCS"></a>
    </div>

</div>
</br>
<!-- 2eme container-->


    <div class="row2">
        <div class="hidden-xs">

            <div class='last_footer_responsive color_ml'> FFSS Fédération Française de Secourisme et de Sauvetage - Tous droits réservés. Orléans

            </div>
        </div>

        <div class="visible-xs">

            <p id="footer">FFSS45 à ORLEANS</p>

        </div>


    </div>




<a href="#" title="Haut de page" class="scrollup"><i class="fa fa-arrow-up"></i></a>



<script>

    ScrollToTop=function() {
        var s = $(window).scrollTop();
        if (s > 250) {
            $('.scrollup').fadeIn();
        } else {
            $('.scrollup').fadeOut();
        }

        $('.scrollup').click(function () {
            $("html, body").animate({ scrollTop: 0 }, 500);
            return false;
        });
    }

    StopAnimation=function() {
        $("html, body").bind("scroll mousedown DOMMouseScroll mousewheel keyup", function(){
            $('html, body').stop();
        });
    }


    $(window).scroll(function() {
        ScrollToTop();
        StopAnimation();
    });


</script>
    </div>
</footer>

