{% extends 'FrontBundle:Default:squelette.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/formation.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}


    <h1>Agent de Servive de Sécurité Incendie et d'assistance à Personnes</h1>
    <h2>SSIAP 1</h2>
    <img class="tof" src="{{ asset('images/SSIAP.png') }}"/>


{% endblock %}