{% extends 'FrontBundle:Default:layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/formation.css')}}" rel="stylesheet">
{% endblock %}



{% block body %}
        <div class="container-fluid">
            <div class="box box-1">
                <div class="box-content">
                    <div class="row">
                        <div class="col-md-9">
                            <h1 class="text-center">Agent de Servive de Sécurité Incendie et d'assistance à Personnes</h1>
                        </div>
                        <div class="col-md-3">
                            <img class="box-image" src="{{ asset('images/SSIAP.png') }}" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="box box-2">
                <div class="row">
                    <div class="col-md-6">
                        <h2>PUBLIC VISÉ <i class="fa fa-comment"></i></h2>
                        <p>Toute personne souhaitant se former aux bases de la sécurité incendie.</p>
                        <h2>Objectifs visé <i class="fa fa-crosshairs"></i></h2>
                        <p>Les agents seront à même d’intervenir dans les contextes suivants : fumées, incendie, évacuation
                            des occupants, prise en charge d’une victime, non-respect des consignes, levée de doute.</p>
                        <h2>Validation de la formation <i class="fa fa-check"></i></h2>
                        <p>Examen en fin de formation : épreuve écrite (QCM de 30 questions) et pratique (Ronde avec anomalies et sinistres)</p>

                    </div>
                    <div class="col-md-6">
                        <h2>Pré-requis  <span class="glyphicon">&#xe067;</span> : </h2>
                        <ul>
                            <li>- Etre titulaire du PSC 1 ou SST (moins de 2 ans), ou PSE 1 (1 as), à jour.</li>
                            <li>- Satisfaire à l'évacuation, réalisée par le centre de formation.</li>
                            <li>- Présenter un certificat à l'adaptitude médicale datant de moins de 3 mois.</li>
                        </ul>
                        <h2>Actualisation <i class="fa fa-refresh"></i> :</h2>
                        <p>Tous les 3 ans (2 ans pour le secourisme).</p>
                        <h2>Durée de la formation <i class="material-icons">access_time</i></h2>
                        <p>67 heures de face à face pédagogique</p>
                    </div>
                </div>
            </div>
            <!-- Tabs Start -->

            <div class="container">
                        <h2>Contenu de la formation</h2>


                <div class="flat-tabs-left flat-tabs-red tabs-zoom-in">
                    <input type="radio" id="tab-1" name="flat-tabs-left" checked="checked" class="section-one">
                    <label for="tab-1">SÉCURITÉ INCENDIE</label>
                    <input type="radio" id="tab-2" name="flat-tabs-left" class="section-two">
                    <label for="tab-2"></i>RÔLES ET MISSION DES AGENTS DE SÉCURITÉ INCENDIE</label>
                    <input type="radio" id="tab-3" name="flat-tabs-left" class="section-three">
                    <label for="tab-3">INSTALLATIONS TECHNIQUES</label>
                    <ul>
                        <li class="section-one">
                            <div class="grid-container">
                                <div class="column-twelve">
                                    <div class="text-normal">
                                        <p>Principes de classement des établissements</p>
                                        <p>Fondamentaux et principes généraux de sécurité incendie</p>
                                        <p>Desserte des bâtiments</p>
                                        <p>Cloisonnement d’isolation des risques</p>
                                        <p>Évacuation du public et des occupants</p>
                                        <p>Désenfumage </p>
                                        <p>Éclairage de sécurité</p>
                                        <p>Présentation des différens moyens de secours</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="section-two">
                            <div class="grid-container">
                                <div class="column-twelve">
                                    <div class="text-normal">
                                        <p>Le service de sécurité </p>
                                        <p>Présentation des consignes de sécurité et main courante</p>
                                        <p>Poste de sécurité</p>
                                        <p>Rondes de sécurité et surveillance des travaux</p>
                                        <p>Mise en oeuvre des moyens d’extinction</p>
                                        <p>Appel et réception des services publics de secours</p>
                                        <p>Éclairage de sécurité</p>
                                        <p>bilisation des occupants</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="section-three">
                            <div class="grid-container">
                                <div class="column-twelve">
                                    <div class="text-normal">
                                        <p>Installations électriques </p>
                                        <p>Ascenseurs et nacelles</p>
                                        <p>Installations fixes d’extinction automatique</p>
                                        <p>Colonnes sèches et humides </p>
                                        <p>Système de sécurité incendie </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    <div class="container">
        <h2>AGENDA</h2>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>DATE Début</th>
                <th>DATE Fin</th>
                <th>HEURE Début AM</th>
                <th>HEURE Fin AM</th>
                <th>HEURE Début PM</th>
                <th>HEURE Fin PM</th>
                <th>ADRESSE</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>12/12/2016</td>
                <td>31/12/2016</td>
                <td>9h00</td>
                <td>12h00</td>
                <td>13h30</td>
                <td>18h</td>
                <td>10 avenue de la justice, 45000 Orléans</td>
            </tr>
            <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>Moe</td>
                <td>Moe</td>
                <td>Moe</td>
                <td>Moe</td>
                <td>mary@example.com</td>
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>Dooley</td>
                <td>Dooley</td>
                <td>Dooley</td>
                <td>Dooley</td>
                <td>july@example.com</td>
            </tr>
            </tbody>
        </table>
    </div>







        <a href="#" class="btn-mix-noborder" data-text="Je m'inscris">Je m'inscris</a>
    </div>
{% endblock %}