<div class="formulaire">
    <div class="container-fluid">
        <div class="row">
            <!--formulaire-->
            <div class="col-lg-offset-1 col-md-offset-1 col-sm-3 col-xs-12">
                <h3>Contactez-nous</h3>
                <form>
                    <div id="form">
                        <div class="form-group">
                            <label for="nom">Nom</label>
                            <input type="text" class="form-control" id="nom" placeholder="Nom">
                        </div>
                        <div class="form-group">
                            <label for="prenom">Prénom</label>
                            <input type="text" class="form-control" id="prenom" placeholder="Prénom">
                        </div>
                        <div class="form-group">
                            <label for="Email">E-mail</label>
                            <input type="email" class="form-control" id="Email" placeholder="Email">
                        </div>
                        <textarea class="form-control" rows="3" placeholder="Quelle est votre demande ?"></textarea><br>
                        <button type="submit" class="btn btn-default center-block">Envoyer</button>
                    </div>
                </form>
            </div>
            <!--infos contact-->
            <div class="col-sm-3 col-xs-11">
                <div class="contact">
                    <ul class="text-center">
                        <li><h4><strong>FFSS 45 - Secouristes du Loiret</strong></h4></li>
                        <li>15 Quai du Roi</li>
                        <li>45000 Orléans</>
                        <li>Tél : 02.38.43.12.73</li>
                        <li><i class="fa fa-3x fa-facebook-square" aria-hidden="true"></i></li>
                        <div class="hidden-lg hidden-sm hidden-md col-xs-12">
                            <a class="text-center" href="http://www.openstreetmap.org/?mlat=47.89969&mlon=1.92325#map=19/47.89969/1.92325">Voir sur la carte</a>
                        </div>
                    </ul>
                </div>
            </div>
            <!--Map-->
            <div class="col-sm-offset-1 col-sm-4 hidden-xs">
                <iframe src="http://www.openstreetmap.org/export/embed.html?bbox=1.9215559959411623%2C47.89889823611775%2C1.9249221682548525%2C47.900513050739406&amp;layer=mapnik&amp;marker=47.89970564972463%2C1.9232404232025146" class="img-responsive map" "></iframe><br/><small><a href="http://www.openstreetmap.org/?mlat=47.89971&amp;mlon=1.92324#map=19/47.89971/1.92324">View Larger Map</a></small>
            </div>
        </div>
    </div>
</div>