
    <div class="container-fluid">
        <div class="row formulaire">
            <!--formulaire-->
            <div class="col-md-offset-1 col-md-3 col-sm-6 col-xs-12 contact">
                <h3>Contactez-nous !</h3>
                {{ form(form) }}
            </div>
            <!--infos contact-->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="contact2">
                    <ul class="text-center">
                        <li><h3>FFSS 45 - Secouristes du Loiret</h3></li>
                        <li><span class="glyphicon glyphicon-map-marker"></span>15 Quai du Roi</li>
                        <li>45000 Orléans</li>
                        <li><span class="glyphicon glyphicon-earphone"></span>02.38.43.12.73</li>
                        <li class="facebook">Suivez-nous</li>
                        <li><a href="https://www.facebook.com/ffss45"><i class="fa fa-3x fa-facebook-square" aria-hidden="true"></i></a></li>
                        <li><div class="hidden-lg hidden-sm hidden-md col-xs-12">
                            <a class="text-center liencarte" href="http://www.openstreetmap.org/?mlat=47.89969&mlon=1.92325#map=19/47.89969/1.92325">Voir sur la carte</a>
                        </div></li>
                    </ul>
                </div>
            </div>
            <!--Map-->
            <div class="col-md-offset-0 col-md-3 col-sm-offset-3 col-sm-6 hidden-xs">
                <div class="wrapper">
                    <div class="h_iframe">
                        <div class='myIframe' >
                            <iframe scrolling='no' src="http://www.openstreetmap.org/export/embed.html?bbox=1.9215559959411623%2C47.89889823611775%2C1.9249221682548525%2C47.900513050739406&amp;layer=mapnik&amp;marker=47.89970564972463%2C1.9232404232025146" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
