<div class="container-fluid">
    <div class="hidden-xs" id="test">
        <img class="img-responsive" src="{{ asset('images/ff.png') }}" alt="" width="100%">
    </div>
</div>

<script>
    $(window).scroll(function (event) {
        // A chaque fois que l'utilisateur va scroller
        var y = $(this).scrollTop(); // On récupérer la valeur du scroll vertical
        var hauteur = document.getElementById('test').scrollHeight; // on récupère la "hauteur de la bannière
        //si scroll > à bannière on ajoute la class
        if (y >= hauteur) {
            $('.firstnav').addClass('fixed');
        } else {
            // sinon, on l'enlève
            $('.firstnav').removeClass('fixed');
        }
    });

</script>

<nav class="navbar navbar-default nav-justified hidden-sm hidden-xs firstnav">
    <!--logo et texte cachés-->
    <div class="container-fluid">
            <ul class="nav nav-justified">
                <li class="menu particuliers">Particuliers
                    <b class="caret"></b>
                    <ul class="submenu part multi-column columns-6">
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-2 bloc1">
                                <li class="menu-header debut">POUR DEBUTER</li>
                                <li><a href="#">IPS</a></li>
                                <li><a href="#">PSC1</a></li>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-2 bloc1">
                                <li class="menu-header incendie">INCENDIE</li>
                                <li><a href="#">SSIAP</a></li>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-2 bloc1">
                                <li class="menu-header sportif">SECOURS SPORTIF</li>
                                <li><a href="#">PSS1</a></li><br>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-2 bloc">
                                <li class="menu-header equipe">SECOURS EN EQUIPE</li>
                                <li><a href="#">PSE1</a></li>
                                <li><a href="#">PSE2</a></li>
                                <li><a href="#">FCPSE1</a></li>
                                <li><a href="#">FCPSE2</a></li>
                                <li><a href="#">Chef d'équipe</a></li>
                                <li><a href="#">Chef de poste</a></li>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-2 bloc">
                                <li class="menu-header formateurs">FORMATEURS</li>
                                <li><a href="#">Formateur PSC</a></li>
                                <li><a href="#">Formateur PS</a></li>
                                <li><a href="#">Formateur SST</a></li>
                                <li><a href="#">Formateur EPI</a></li>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-2 bloc">
                                <li class="menu-header aquatique">AQUATIQUE</li>
                                <li><a href="#">BNSSA</a></li>
                                <li><a href="#">BSB</a></li>
                                <li><a href="#">Permis Bateau</a></li>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="menu professionnels">Professionnels
                    <b class="caret"></b>
                    <ul class="submenu pros multi-column columns-6">
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-2 bloc1">
                                <li class="menu-header incendie">INCENDIE</li>
                                <li><a href="#">SSIAP</a></li>
                                <li><a href="#">EPI</a></li>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-2 bloc1">
                                <li class="menu-header sportif">SECOURS SPORTIF</li>
                                <li><a href="#">PSS1</a></li>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-2 bloc1">
                                <li class="menu-header sante">SANTE</li>
                                <li><a href="#">AFGSU 1</a></li>
                                <li><a href="#">AFGSU 2</a></li>
                                <li><a href="#">FC AFGSU </a></li>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-2 bloc">
                                <li class="menu-header equipe">SECOURS EN EQUIPE</li>
                                <li><a href="#">PSE1</a></li>
                                <li><a href="#">PSE2</a></li>
                                <li><a href="#">FCPSE1</a></li>
                                <li><a href="#">FCPSE2</a></li>
                                <li><a href="#">Chef d'équipe</a></li>
                                <li><a href="#">Chef de poste</a></li>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-2 bloc">
                                <li class="menu-header formateurs">FORMATEURS</li>
                                <li><a href="#">Formateur PSC</a></li>
                                <li><a href="#">Formateur PS</a></li>
                                <li><a href="#">Formateur SST</a></li>
                                <li><a href="#">Formateur EPI</a></li>
                            </div>

                            <div class="col-sm-4 col-md-4 col-lg-2 bloc">
                                <li class="menu-header aquatique">AQUATIQUE</li>
                                <li><a href="#">BNSSA</a></li>
                                <li><a href="#">BSB</a></li>
                                <li><a href="#">Permis Bateau</a></li>
                            </div>

                        </div>
                    </ul>
                </li>
                <li class="menu poste">Poste de Secours
                    <b class="caret"></b>
                    <ul class="submenu post">
                        <div class="row-fluid">
                            <div class="col-sm-12">
                                <li><a href="#">Evènement Sportif</a></li>
                                <li><a href="#">Evènement Culturel</a></li>
                                <li><a href="#">Rassemblement de Personnes</a></li>
                            </div>

                        </div>
                    </ul>
                </li>
                <li class="menu contacts"><a href="#form">Contact</a></li>
                <li class="menu join"><a href="#">Rejoignez-nous</a></li>
            </ul>



    </div>
</nav>

        <!--nav petits écrans-->

<nav class="navbar navbar-default nav-justified visible-sm visible-xs navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="visible-xs">
                <a class="navbar-brand" rel="home" href="#" title="Barre de navigation">
                    <img style="max-width:38px; margin-top: -9px;" src="{{ asset('images/logo.jpg') }}">
                </a>
                <p class="navbar-brand">Les Secouristes du Loiret</p>
            </div>
            <!---->
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse js-navbar-collapse nav-justified">
            <ul class="nav navbar-nav">
                <li class="dropdown dropdown-large">
                    <a href="#" class="dropdown-toggle menu particuliers titrenav" data-toggle="dropdown">Particuliers <b class="caret"></b></a>
                    <ul class="dropdown-menu dropdown-menu-large row">
                        <li class="col-sm-4">
                            <ul>
                                <li class="menu-header debut">POUR DEBUTER</li>
                                <li><a href="#">IPS</a></li>
                                <li><a href="#">PSC1</a></li>
                                <li class="divider"></li>
                                <li class="menu-header incendie">INCENDIE</li>
                                <li><a href="#">SSIAP</a></li>
                                <li><a href="#">EPI</a></li>
                                <li class="divider"></li>
                                <li class="menu-header sportif">SECOURS SPORTIF</li>
                                <li><a href="#">PSS1</a></li>
                                <li class="divider"></li>
                            </ul>
                        </li>
                        <li class="col-sm-4">
                            <ul>
                                <li class="menu-header formateurs">FORMATEURS</li>
                                <li><a href="#">Formateur PSC</a></li>
                                <li><a href="#">Formateur PS</a></li>
                                <li><a href="#">Formateur SST</a></li>
                                <li><a href="#">Formateur EPI</a></li>
                                <li class="divider"></li>
                                <li class="menu-header aquatique">AQUATIQUE</li>
                                <li><a href="#">BNSSA</a></li>
                                <li><a href="#">BSB</a></li>
                                <li><a href="#">Permis Bateau</a></li>
                                <li class="divider"></li>
                            </ul>
                        </li>
                        <li class="col-sm-4">
                            <ul>
                                <li class="menu-header equipe">SECOURS EN EQUIPE</li>
                                <li><a href="#">PSE1</a></li>
                                <li><a href="#">PSE2</a></li>
                                <li><a href="#">FCPSE1</a></li>
                                <li><a href="#">FCPSE2</a></li>
                                <li><a href="#">Chef d'équipe</a></li>
                                <li><a href="#">Chef de poste</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown dropdown-large">
                    <a href="#" class="dropdown-toggle menu pros titrenav" data-toggle="dropdown">Professionnels<b class="caret"></b></a>
                    <ul class="dropdown-menu dropdown-menu-large row">
                        <li class="col-sm-4">
                            <ul>
                                <li class="menu-header sante">SANTE</li>
                                <li><a href="#">AFGSU 1</a></li>
                                <li><a href="#">AFGSU 2</a></li>
                                <li><a href="#">FC AFGSU </a></li>
                                <li class="divider"></li>
                                <li class="menu-header incendie">INCENDIE</li>
                                <li><a href="#">SSIAP</a></li>
                                <li class="divider"></li>
                                <li class="menu-header sportif">SECOURS SPORTIF</li>
                                <li><a href="#">PSS1</a></li>
                                <li class="divider"></li>
                            </ul>
                        </li>
                        <li class="col-sm-4">
                            <ul>
                                <li class="menu-header formateurs">FORMATEURS</li>
                                <li><a href="#">Formateur PSC</a></li>
                                <li><a href="#">Formateur PS</a></li>
                                <li><a href="#">Formateur SST</a></li>
                                <li><a href="#">Formateur EPI</a></li>
                                <li class="divider"></li>
                                <li class="menu-header aquatique">AQUATIQUE</li>
                                <li><a href="#">BNSSA</a></li>
                                <li><a href="#">BSB</a></li>
                                <li><a href="#">Permis Bateau</a></li>
                                <li class="divider"></li>
                            </ul>
                        </li>
                        <li class="col-sm-4">
                            <ul>
                                <li class="menu-header equipe">SECOURS EN EQUIPE</li>
                                <li><a href="#">PSE1</a></li>
                                <li><a href="#">PSE2</a></li>
                                <li><a href="#">FCPSE1</a></li>
                                <li><a href="#">FCPSE2</a></li>
                                <li><a href="#">Chef d'équipe</a></li>
                                <li><a href="#">Chef de poste</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown dropdown-large">
                    <a href="#" class="dropdown-toggle menu titrenav" data-toggle="dropdown">Poste de Secours<b class="caret"></b></a>
                    <ul class="dropdown-menu dropdown-menu-large row">
                        <li><a href="#">Evènement Sportif</a></li>
                        <li><a href="#">Evènement Culturel</a></li>
                        <li><a href="#">Rassemblement de Personnes</a></li>
                    </ul>
                </li>
                <li class="menu contacts "><a href="#form" class="titrenav">Contact</a></li>
                <li class="menu join"><a href="#" class="titrenav">Rejoignez-nous</a></li>
            </ul>
        </div>
    </div>
</nav>
