<div class="container-fluid">
    <div class="row-fluid">
        <div class="hidden-xs" id="test">
            <img class="img-responsive center-block" src="{{ asset('images/ff.png') }}" alt="">
        </div>
    </div>
</div>


<nav class="navbar navbar-default navbar-static ">
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

    </div>

    <div class="collapse navbar-collapse js-navbar-collapse ">
        <ul class="nav navbar-nav">
            <li class="dropdown dropdown-large">
                <a href="#">Présentation</a>
            </li>
            <li class="dropdown dropdown-large">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Particuliers<b class="caret"></b></a>

                <ul class="dropdown-menu dropdown-menu-large row">
                    <li class="col-sm-3">
                        <ul>
                            <li class="dropdown-header">Pour débuter</li>
                            <li><a href="#">IPS</a></li>
                            <li><a href="#">PSC1</a></li>
                            <li class="divider"></li>
                            <li><img class=img-responsive" src="{{ asset('images/Initiations2.JPG') }}"/></li>

                        </ul>
                    </li>
                    <li class="col-sm-3">
                        <ul>
                            <li class="dropdown-header">Secours en équipe</li>
                            <li><a href="#">PSE1</a></li>
                            <li><a href="#">PSE2</a></li>
                            <li><a href="#">FCPSE1</a></li>
                            <li><a href="#">FCPSE2</a></li>
                            <li><a href="#">Chef d'équipe</a></li>
                            <li><a href="#">Chef de poste</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Secours sportif</li>
                            <li><a href="#">PSS1</a>
                        </ul>
                    </li>
                    <li class="col-sm-3">
                        <ul>
                            <li class="dropdown-header">Formateur</li>
                            <li><a href="#">Formateur PSC</a></li>
                            <li><a href="#">Formateur PS</a></li>
                            <li><a href="#">Formateur SST</a></li>
                            <li><a href="#">Formateur EPI</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Incendie</li>
                            <li><a href="#">SSIAP</a></li>
                        </ul>
                    </li>
                    <li class="col-sm-3">
                        <ul>
                            <li class="dropdown-header">Aquatique</li>
                            <li><a href="#">BNSSA</a></li>
                            <li><a href="#">BSB</a></li>
                            <li><a href="#">Permis Bateau</a></li>
                        </ul>
                    </li>


                </ul>

            </li>
            <li class="dropdown dropdown-large">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>

                <ul class="dropdown-menu dropdown-menu-large row">
                    <li class="col-sm-6">
                        <ul>
                            <li class="dropdown-header">Sword of Truths</li>
                            <li><a href="#">Example</a></li>
                            <li><a href="#">Example</a></li>
                            <li><a href="#">Example</a></li>
                            <li><a href="#">Example</a></li>
                            <li><a href="#">Example</a></li>
                            <li><a href="#">Example</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Theme/Character</li>
                            <li><a href="#">Example</a></li>
                            <li><a href="#">Example</a></li>
                            <li><a href="#">Example</a></li>
                            <li><a href="#">Example</a></li>

                        </ul>
                    </li>
                    <li class="col-sm-6">
                        <ul>
                            <li class="dropdown-header">by brand</li>
                            <li><a href="#">Example</a></li>
                            <li><a href="#">Example</a></li>
                            <li><a href="#">Example</a></li>
                            <li><a href="#">Example</a></li>
                            <li><a href="#">Example</a></li>
                            <li><a href="#">Example</a></li>
                            <li class="divider"></li>
                            <li><img class"img-responsive" src="http://placehold.it/200x150"/></li>
                        </ul>
                    </li>


                </ul>

            </li>

            <li class="dropdown dropdown-large">
                <a href="#">Some link</a>
            </li>
            <li class="dropdown dropdown-large">
                <a href="#">Some link</a>
            </li>

            <li class="dropdown dropdown-large">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>

                <ul class="dropdown-menu dropdown-menu-large row">
                    <li class="col-sm-3">
                        <ul>
                            <li class="dropdown-header">Sword of Truths</li>
                            <li><a href="#">Example</a></li>
                            <li><a href="#">Example</a></li>
                            <li><a href="#">Example</a></li>
                            <li><a href="#">Example</a></li>
                            <li><a href="#">Example</a></li>
                            <li><a href="#">Example</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Theme/Character</li>
                            <li><a href="#">Example</a></li>
                            <li><a href="#">Example</a></li>
                            <li><a href="#">Example</a></li>
                            <li><a href="#">Example</a></li>

                        </ul>
                    </li>
                    <li class="col-sm-3">
                        <ul>
                            <li class="dropdown-header">by brand</li>
                            <li><a href="#">Example</a></li>
                            <li><a href="#">Example</a></li>
                            <li><a href="#">Example</a></li>
                            <li><a href="#">Example</a></li>
                            <li><a href="#">Example</a></li>
                            <li><a href="#">Example</a></li>
                            <li class="divider"></li>
                            <li><img class"img-responsive" src="http://placehold.it/200x150"/></li>
                        </ul>
                    </li>
                    <li class="col-sm-3">
                        <ul>
                            <li class="dropdown-header">Sword of Truths</li>
                            <li><a href="#">Example</a></li>
                            <li><a href="#">Example</a></li>
                            <li><a href="#">Example</a></li>
                            <li><a href="#">Example</a></li>
                            <li><a href="#">Example</a></li>
                            <li><a href="#">Example</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Theme/Character</li>
                            <li><a href="#">Example</a></li>
                            <li><a href="#">Example</a></li>
                            <li><a href="#">Example</a></li>
                            <li><a href="#">Example</a></li>

                        </ul>
                    </li>
                    <li class="col-sm-3">
                        <ul>
                            <li class="dropdown-header">by brand</li>
                            <li><a href="#">Example</a></li>
                            <li><a href="#">Example</a></li>
                            <li><a href="#">Example</a></li>
                            <li><a href="#">Example</a></li>
                            <li><a href="#">Example</a></li>
                            <li><a href="#">Example</a></li>
                            <li class="divider"></li>
                            <li><img class"img-responsive" src="http://placehold.it/200x150"/></li>
                        </ul>
                    </li>

                </ul>

            </li>



        </ul>

    </div><!-- /.nav-collapse -->
</nav>
