
{% for category, tab in formations %}

    <li class="col-sm-2">
        <ul>
            <li class="dropdown-header">{{ category }}</li>
    {%  for key,formation in tab %}
            <li><a href="{{ path('formation', {'nomCourt':formation.nomCourt}) }}" title="accédez à la formation"> {{ formation.nomCourt }}</a></li>
    {% endfor %}
            <li class="divider"></li>
        </ul>
    </li>
{% endfor %}


