<div class="container-fluid presentation">
    <div class="row">
        <div class="col-md-12">
            <h1 class="identity">Qui sommes-nous ?</h1>
        </div>
        <div class="col-md-3 col-sm-4 hidden-xs">
                <a><img src="{{ asset('images/AfficheSalondes Maires-01.png') }}" alt="photo ffss45" class="img-responsive"></a>
        </div>
                <div class="col-md-offset-1 col-md-5 col-sm-6">
                    <p class="lead">Avec plus de 150 bénévoles venus de tous horizons, nos équipes assurent au
                        quotidien les 4 domaines d’intervention de la Fédération Française de Sauvetage
                        et de Secourisme.</p>
                </div>
                <div class="col-md-8 col-sm-12 hidden-sm hidden-xs">
                    <div class="parallelogram">
                        <div class="information">
                            <h2>Nos domaines d'intervention</h2>
                            <p>FORMATION : aux diplômes de sauvetage et de secourisme à destination des
                                professionnels et du grand public.</p>
                            <p>SAUVETAGE SPROTIF : une discipline sportive reconnue de haut niveau.</p>
                            <p>MISSION DE SÉCURITÉ CIVILE : Elle dispose de moyens humains et matériels
                                partout en France pour venir secourir ou assister
                                la population.</p>
                            <p>JEUNESSE, SPORT, SANTÉ, SAUVETAGE :  Elle participe à la promotion du sauvetage
                                et du secourisme auprès du grand public
                                en développant le sens civique de l’acte.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="chiffres">
                                <h3>La FFSS 45 en chiffres</h3>
                            <div class="col-md-4 col-sm-12 box">
                                <p class="small text-center">5 antennes dans le Loiret</p>
                                <p class="small text-center">organisme de formation</br>de sauvetage</p>
                            </div>
                            <div class="col-md-4 col-sm-12 box">
                                <p class="small text-center"><i class="fa fa-users"></i> 2000 stagiaires/an</p>
                                <p class="small text-center">150 secouristes</p>
                            </div>
                            <div class="col-md-4 col-sm-12 box">
                                <p class="small text-center"><i class="fa fa-ambulance"></i> 14 véhicules</p>
                                <p class="small text-center"><i class="fa fa-ship" aria-hidden="true"></i> 4 embarcations</p>
                            </div>
                        </div>
                    </div>
                </div>

    </div>

</div>

</div>