<div class="container-fluid presentation">
    <div class="row">
        <div class="col-md-12" id="identité">
            <h2 class="identity"><span class="glyphicon glyphicon-triangle-right"></span>Qui sommes-nous ?</h2>
        </div>
		<div class="col-md-3 col-sm-4 hidden-xs">
				<a><img src="{{ asset('images/AfficheSalondes Maires-01.png') }}" alt="photo ffss45" class="img-responsive"></a>
		</div>
		
		<div class="col-md-offset-1 col-md-5 col-sm-6">
			<p class="lead">Avec plus de 150 bénévoles venus de tous horizons, nos équipes assurent au
				quotidien les 4 domaines d’intervention de la Fédération Française de Sauvetage
				et de Secourisme.</p>
		</div>
		
		<div class="col-md-8 col-sm-12 hidden-sm hidden-xs r">
			<div class="information">
				<h3>Nos domaines d'intervention</h3>
				<p><span class="glyphicon glyphicon-triangle-right"></span><span class="subtitle">FORMATION</span> aux diplômes de sauvetage et de secourisme à destination des
					professionnels et du grand public.</p>
				<p><span class="glyphicon glyphicon-triangle-right"></span><span class="subtitle">SAUVETAGE SPORTIF</span> une discipline sportive reconnue de haut niveau.</p>
				<p><span class="glyphicon glyphicon-triangle-right"></span><span class="subtitle">MISSION DE SÉCURITÉ CIVILE</span> Elle dispose de moyens humains et matériels
					partout en France pour venir secourir ou assister
					la population.</p>
				<p><span class="glyphicon glyphicon-triangle-right"></span><span class="subtitle">JEUNESSE, SPORT, SANTÉ, SAUVETAGE</span> Elle participe à la promotion du sauvetage
					et du secourisme auprès du grand public
					en développant le sens civique de l’acte.</p>
			</div>
		</div>
		
		<div class="chiffres col-md-offset-1 col-md-8 col-sm-12">
			<div class="">
				<h3>La FFSS 45 en chiffres</h3>
				<div class="row">
					<div class="col-md-4">
						<div class="row">
							<div class="col-md-2 col-sm-3 col-xs-2"><i class="fa fa-rss"></i></div>
							<div class="col-md-10 col-sm-9 col-xs-10"><p>5 antennes dans le Loiret</p></div>
							</div>
						<div class="row">
							<div class="col-md-2 col-sm-3 col-xs-2"><strong  class="first">1er</strong></div>
							<div class="col-md-10  col-sm-9 col-xs-10"><p>organisme de formation de sauvetage</p></div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="row">
							<div class="col-md-2 col-sm-3 col-xs-2"><i class="fa fa-users"></i></div>
							<div class="col-md-10 col-sm-9 col-xs-10"><p>2000 stagiaires/an</p></div>
						</div>
						<div class="row">
							<div class="col-md-2 col-sm-3 col-xs-2"><i class="fa fa-user-md"></i> </div>
							<div class="col-md-10 col-sm-9 col-xs-10"><p>150 secouristes</p></div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="row">
							<div class="col-md-2 col-sm-3 col-xs-2"><i class="fa fa-ambulance"></i></div>
							<div class="col-md-10 col-sm-9 col-xs-10"><p> 14 véhicules</p></div>
						</div>
						<div class="row">
							<div class="col-md-2 col-sm-3 col-xs-2"><i class="fa fa-ship"></i></div>
							<div class="col-md-10 col-sm-9 col-xs-10"><p> 4 embarcations</p></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

