
<div class="container-fluid presentation">
    <div class="row">
        <!--Texte à gauche de la fenêtre-->
        <div class="hidden-xs col-sm-5 col-sm-offset-2" >
            <h3>Qui sommes-nous ?</h3>
            <p>Sed et est quibusdam quaerat laborum quia amet tempore. Enim ex quas velit architecto hic. Ad maiores officia totam eaque quibusdam voluptas omnis corrupti. Omnis labore maiores est odit. Ratione quia dolores vel.</p>
            <h4>Nos métiers</h4>
            <p>Sed et est quibusdam quaerat laborum quia amet tempore. Enim ex quas velit architecto hic. Ad maiores officia totam eaque quibusdam voluptas omnis corrupti. Omnis labore maiores est odit. Ratione quia dolores vel.</p>
            <h4>Nos missions</h4>
            <p>Sed et est quibusdam quaerat laborum quia amet tempore. Enim ex quas velit architecto hic. Ad maiores officia totam eaque quibusdam voluptas omnis corrupti. Omnis labore maiores est odit. Ratione quia dolores vel.</p>
            <a href="#" class="btn btn-primary btn-small active" role="button">En savoir plus</a>
            <!--Image de la partie droite-->
        </div>
        <div class="hidden-xs col-sm-5">
            <img src="{{ asset('images/AfficheSalondes Maires-01.png') }}" alt="" class="img-responsive img_pres" >
        </div>
    </div>

</div>
