{% extends '@Front/Default/frontLayout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/succes.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}
    <div class="container-fluid succes">
        <div class="row">
            <div class="col-xs-12">
                <p>Formulaire envoyé avec succès !
                    <br>
                    <a href="{{path('page_accueil_principale') }}">retour à l'accueil</a><br>
                    <i class="fa fa-check-square fa-5x" aria-hidden="true"></i></p>
            </div>
        </div>
    </div>
{% endblock %}