

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <figure class="snip1566">
                <img src="{{ asset('images/particulier.png') }}" class="img-responsive" alt ="image espace particuliers">
                <figcaption>
                    <p class="lead">Accès à votre demande de formation</p>
                </figcaption>
                <a href="#"></a>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="snip1566">
                <img src="{{ asset('images/pro.png') }}" class="img-responsive" alt ="image espace professionnels">
                <figcaption>
                    <p class="lead">Accès à votre demande de formation</p>
                </figcaption>
                <a href="#"></a>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="snip1566">
                <img src="{{ asset('images/secours.png') }}" class="img-responsive" alt ="image espace poste de secours">
                <figcaption>
                    <p class="lead">“ Vous organisez un évènement?<br /> Demandez un dispositif de secours ”</p>
                </figcaption>
                <a href="#"></a>
            </figure>
        </div>
    </div>
</div>

