<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-xs-12 col-sm-4 col-md-4 box">
            <a href="#">
                <div class="overlay">
                    <img src="{{ asset('images/Initiations.JPG') }}" class="img-responsive" alt ="image espace particuliers">
                </div>
                <div class="col-lg-12">
                    <div class="formation">
                        <h2 class="acces">Accès Espace Particuliers</h2>
                        <p>Demandez votre formation dans l'espace particuliers</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 box">
            <a href="#">
                <div class="col-lg-12 ">
                    <div class="formation">
                        <h2 class="acces">Accès Espace Professionnels</h2>
                        <p>Demandez votre formation dans l'espace professionnels</p>
                    </div>
                </div>
                <div class="overlay">
                    <img src="{{ asset('images/Formateur-PSE.jpg') }}" class="img-responsive" alt ="image espace professionnels">
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 box">
            <a href="#">
                <div class="overlay">
                    <img src="{{ asset('images/IMG_4468.JPG') }}" class="img-responsive" alt ="image espace poste de secours">
                </div>
                <div class="col-lg-12">
                    <div class="formation">
                        <h2 class="acces">Accès Poste de Secours</h2>
                        <p>“Vous organisez un évènement? Demandez un dispositif de secours.”</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>


