.navbar-nav > li:hover {
    background-color:#253571;
    color:white;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color:white;
}
.logo-header-admin {
    width:1.5em;
}
table td {
    padding:0.3em;

}
table th {
    padding:0.3em;
    background-color:#253571;
    color:white;
}

h1 {
    border-top:3px solid #FFE40E;
    border-bottom:3px solid #FFE40E;
    color:#253571;
    padding:0.1em;
    padding-left:0.3em;
    font-variant:small-caps;

}

h2 {
    color:#253571;
    border-left:6px solid #FFE40E;
    padding-left:0.2em;



}

.footer {
    margin-top:1em;
    margin-bottom:0em;
    background-color:#253571;
    color:white;
    text-align:center;
    padding:0.3em;

}

.edit-formation textarea {
    min-height:8em;
}

.agenda_form .form-inline {
    display:inline-block;
}

.agenda_form fieldset {
    margin-top:1em;
}

.image_upload {
    width:250px;
}

body{
    width: 100%;
}