.menu-left {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #34495e;
    width: 240px;
    overflow: auto;
}
.menu-left header {
    background-color: #2ecc71;
    padding-left: 16px;
    padding-top: 20px;
    height: 150px;
    font-size: 16px;
    text-transform: uppercase;
    color: #ffffff;
}
.menu-left header span {
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 50px;
    line-height: 50px;
}
.menu-left ul {
    margin: 0;
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.menu-left ul li a{
    display: block;
    padding-left: 24px;
    height: 100px;
    line-height: 100px;
    font-size: 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    color: #95a4a6;
}
.menu-left ul li a:focus,
.menu-left ul li a:hover {
    text-decoration: none;
    color: rgb(46, 204, 113);
    background-color: #243342;
}
.menu-left ul li.active a {
    background-color: #243342;
    color: #ffffff;
}
.menu-left ul li.active a span {
    color: #2ecc71;
}


.top{
    font-size: 2em; /* ne veut pas changer de taille*/
    text-align: center;
    margin: 0;
    padding-top: 1.5em;
}
.use{
    font-size: 1.5em;
    padding-top: 1.3em;
    padding-bottom: 1em;
    color: #2ecc71;
}
.content-center {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 240px;
    background-color: #ecf0f1;
    overflow: auto;
}
.content-center header {
    background-color: #ffffff;
    border-bottom: 1px solid #d5d7d8;
    font-size: 1.2em;
}
.content-center header * {
    font-size: 1.1em;
}
.content-center header .top {
    border-bottom: 1px solid #e5e5e5;
    height: 150px;

}

.content-center header .top {
    border-bottom: 1px solid #e5e5e5;
    height: 150px;

}

.contain-footer{
    height: 150px;
    padding-top: 25px;
}