img {
    height: 150px;
}

h1 {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 50px;
}

.adresse {
    padding-left: 30px;
    padding-bottom: 20px;
}

.eleve {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

.container {
    page-break-after: always;
}