@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

footer{
    text-align: center;
    background-color:#253571;
    color: white;
    font-weight: bold;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 14px;
}

.logo-footer {
    width:70px;
    margin-top: -30px;
    margin-left: -40px;
    position: absolute;
    left: 50%;
    z-index: 10;

}

.logo_WCS {
    width:60px;
}

.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
    color: white;
    background-color: #3a3f51;
    border: 1px solid #3a3f51;
    font-size: 20px;
    text-align: center;
    line-height: 37px;
}

.scrollup:hover {
    color: white;
}

.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
    color: white;
    background-color: #3a3f51;
    border: 1px solid #3a3f51;
    font-size: 20px;
    text-align: center;
    line-height: 37px;
}
 
.scrollup:hover {
    color: white;
}

footer a:visited{
    color: white;
}