.page {
    margin: 0;
    background-image: -webkit-linear-gradient( rgba(34, 62, 122, 1) 40%, transparent 40%);
    background-image: linear-gradient(105deg,rgba(34, 62, 122, 1) 40%, transparent 40%);
    background-color: white;
}
.page-title {
    right: 0;
    left: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    line-height: 1;
    padding-top: 3em;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin:0;
    color: black;
}

.nomCourt {
    padding-top: 4em;
}


.box{
    margin-bottom: 5em;

}

.row{
    margin: 0px;
}
p {
    margin: 0 0 30px;
    line-height: 1.2;

}

main {
    min-width: 320px;
    max-width: 88%;
    padding: 50px;
    margin: 0 auto;
    background: #fff;
}

section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
}

input {
    display: none;
}

label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    border: 1px solid transparent;
    color: #00AADD;
    width: auto;


}

label:hover {
    color:   #00AADD;
    cursor: pointer;
}

input:checked + label {
    color: rgb(255, 203, 0);
    border: 1px solid #ddd;
    border-top: 6px solid rgb(255, 203, 0);
    border-bottom: 2px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
    display: block;
}

@media screen and (max-width: 650px) {
    label {
        font-size: 0;
    }

    label:before {
        margin: 0;


    }
}
@media screen and (max-width: 400px) {
    label {
        padding: 0.5em;
    }
}


html,body {
    font-weight: 300;
    height: 100%;
    font: 14px/1 'Open Sans', sans-serif;
    font-size: 1em;

}

h2 {
    color: #223E7A;
    font-weight: 300;
    text-align: center;
    display: block;
    line-height:1em;
    padding-bottom: 1em;
}


.agenda{
    padding: 100px 50px 40px 300px;
    color: black;
}

.container th h3 {
    font-weight: bold;

    text-align: left;


}

.container td {
    font-weight: normal;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0E1119;

}

.container {
    text-align: left;
    overflow: hidden;
    width: 98%;
    margin: 0 auto;
    display: table;
    padding: 0 0 5em 0;
}

.container td, .container th {
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left:1%;
    background: rgb(226, 227, 228);
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
    background-color: #2C3446;


}

/* Background-color of the even rows */
.container tr:nth-child(even) {
    background-color: grey;
}

.container th {
    background-color: rgb(0, 55, 112);
    text-align: center;
    color: white;

}

.container td:first-child {
    color: black;
}

.container tr:hover {
    -webkit-box-shadow: 0 6px 6px -6px #0E1119;
    -moz-box-shadow: 0 6px 6px -6px #0E1119;
    box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
    background-color: #FFE200;
    color: #403E10;
    font-weight: bold;
    box-shadow: rgb(255, 203, 0) -1px 1px, rgb(254, 202, 10) 2px 2px, rgb(254, 202, 10) -3px 3px, rgb(254, 202, 10) -4px 4px, rgb(254, 202, 10) -5px 5px, rgb(254, 202, 10) -6px 6px;
    transform: translate3d(6px, -6px, 0);
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: linear;
}

@media (max-width: 900px) {
    .container td:nth-child(5),
    .container th:nth-child(5) { display: none; }
}

.button {
    text-decoration: none;
    width: 200px;
    border: #4DC3FA;
    padding: 20px;
    display: block;
    text-align: center;
    margin: 100px auto;
    cursor: pointer;
    font-size: 1.2em;
    color: #223E7A;
    background-color: transparent;
    position: relative;
    border: 3px solid #223E7A;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

.button:hover {
    border-color: #F44336;
    color: #F44336;
    animation: shakeThatBooty 0.3s linear 1;
    -webkit-animation: shakeThatBooty 0.3s linear 1;
    -moz-animation: shakeThatBooty 0.3s linear 1;
    -o-animation: shakeThatBooty 0.3s linear 1;
    -ms-animation: shakeThatBooty 0.3s linear 1;
    text-decoration: none;
}

@keyframes shakeThatBooty {
    33% {
        transform: rotateZ(10deg);
        -webkit-transform: rotateZ(10deg);
        -moz-transform: rotateZ(10deg);
        -o-transform: rotateZ(10deg);
        -ms-transform: rotateZ(10deg);
    }
    67% {
        transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
        -moz-transform: rotateZ(-10deg);
        -o-transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
    }
    100% {
        transform: rotateZ(10deg);
        -webkit-transform: rotateZ(10deg);
        -moz-transform: rotateZ(10deg);
        -o-transform: rotateZ(10deg);
        -ms-transform: rotateZ(10deg);
    }
}



