h1, tr{
    color: white;
    padding: 0.4em;
    text-align: center;

}
td{
    background-color: #E2E3E4;
    color: grey;
    border: 1px solid white;
    text-align: center;
    font-size: 0.8em;
    padding-bottom: 5px;
    padding-top: 5px;
}
tr{
    font-size: 1em;
}
h1, h2, h3{
    margin-bottom: 0.5em;
}
p{
    padding-left: 2em;
}
.logo-pdf{
   padding-top: 1.8em;
    padding-left: 2em;
    width:8em;
}

h1{
    padding-left: 3.5em;
}

table th {
    font-size:0.8em;
}
