
@font-face {
    font-family: myFont;
    src: url(../fonts/OpenSans-Regular.ttf);
}


body{
    width:100%;
    font-family: 'MyFont';
    font-size:18px;
}



h1, h2, h3, h4, h5, h6{

    font-family: myFont, sans-serif;
}


p{
    font-size:20px;
    font-family: myFont, sans-serif;

}
.containerBody{
    min-height: 24em!important;
}