.categorie {
    border: 2px solid black;
    text-align:center;
    font-weight:bold;
    background-color:grey;
    border-width:3px;
    border-radius:5px;
    font-size:30px;

}



.row {
    border: 2px solid black;
    text-align:center;

    border-radius:5px;
    font-size:medium;

}




.bloc_formation {
    border: 2px solid black;
    margin-top:15%;
    margin-left:20%;
    margin-right:20%;
    margin-bottom:20%;

}

