.bloc_formation {
	padding:1em;
	text-align:center;
    margin-bottom:3.5em;
	background-image: linear-gradient(290deg, #F0F0F0 70%, transparent 70%);
    position: relative;
}

.bloc_formation_full{
    top:0;
    left:0;
    display:none;
    position: absolute;
    z-index: 15;
	background-image: linear-gradient(290deg, #F0F0F0 30%, transparent 30%);
	box-shadow:2px 2px 4px #969696;

}
h1{
    padding-left: 10px;
}
h3{
    background-color: rgba(240,240,240,0.5);
    padding:0.5em;
    display:inline-block;
    font-weight:bold;
    
}
h4 {

	padding-bottom:0.5em;
}
.bloc_formation_full h3{
    color: white;

}
.bloc_formation_full h4{
    color: white;

}
.bloc_formation_full p{
    color: #353535;
    background-color: rgba(240,240,240,0.5);
    padding:0.5em;
	text-align:justify;
	font-size:1em;

}

.bloc_formation:hover .bloc_formation_full{
    display:block;
}


.photo_formation{
    padding:0.5em;
    padding-top:0;
    margin-bottom:0.5em;

}



.identity{
    margin-bottom:1em;
    margin-top:1em;
}



