
.navbar {
    margin-bottom: 0px;
    background-color: #253571;
    color: white;
}

.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-default .navbar-brand{
    color: white;
}

ul {
    list-style-type:none;
}

.navbar.fixed {
    position: fixed;
    top: 0;
    z-index: 1000;
    margin-right: 15px;
}

.submenu.part{
    display:none;
    list-style-type:none;
    text-align: center;
    font-weight: normal;
    position: absolute;
    z-index: 1000;
    background-color: white ;
    width: 80vw;
    margin-top: 3%;
    font-size: 14px;
}

.submenu.pros{
    display:none;
    list-style-type:none;
    text-align: center;
    font-weight: normal;
    position: absolute;
    z-index: 1000;
    background-color: white ;
    width: 80vw;
    margin-top: 2.8%;
    font-size: 14px;

}

.submenu.post{
    display:none;
    list-style-type:none;
    text-align: center;
    font-weight: normal;
    position: absolute;
    z-index: 1000;
    background-color: white;
    width: 25vw;
    margin-top: 2%;
    font-size: 14px;
}



.menu.particuliers:hover > ul.part{
    display:block;
}

.menu:hover{
    background-color: white;
    color: black;
}

li.menu a:hover{
    background-color: #253571;
}

li.menu a{
    color: white;
}

li.menu ul a{
    color: black;
}

li.menu ul a:hover{
    color: black;
    background-color: gainsboro;
    text-decoration: none;
}

.menu.professionnels:hover > ul.pros{
    display:block;
}

.menu.poste:hover > ul.post{
    display:block;
}

.menu{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

a:visited {
    color:white;
}

a {
    color: white;
}

.menu-header{
    font-weight: bold;
}


.submenu li{
    padding-right: 5px;
    padding-left: 5px;
    text-align: left;
}

.bloc{
    height: 170px;
}

.bloc1{
    height: 100px;
}


.menu-header{
    text-decoration: underline;

}

.submenu{
    border-right: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.menu ul{
    padding-top: 5px;
    color: black;
}

.menu a{
    color: black;
}

.menu-header{
    font-size: 15px;
    padding-bottom: 5px;
}

.menu-header.incendie{
    color: #ee1d23;
}

.menu-header.sportif{
    color: #feca0a;
}

.menu-header.formateurs{
    color: #f47d28;
}

.menu-header.aquatique{
    color: #00aadd;
}

.menu-header.equipe{
    color: #223e7a;
}

.menu-header.sante{
    color: #dd4d9c;
}

.menu-header.debut{
    color: grey;
}

.dropdown-menu-large > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    color: black;

}

.dropdown-large {
    position: static !important;
}

li.menu a {
    color: white;
}

.liencarte{
    color:black;
}

.titrenav{
    color: white !important;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover{
    background-color: inherit;
}