.craue_formflow_steplist li {
    line-height: 1.5em;
}
.craue_formflow_steplist li.craue_formflow_skipped_step {
    text-decoration: line-through;
}
.craue_formflow_steplist li.craue_formflow_done_step:after {
    content: ' \2713';
}
.craue_formflow_steplist li.craue_formflow_current_step {
    font-weight: bold;
}

.craue_formflow_buttons {
    margin-top: 10px;
    margin-bottom: 50px;
}

.flow-steps {
    padding: 20px 50px 250px 20px;
}

.flow-form {
    float: left;
    width: 600px;
    margin-top: 10px;
    margin-left: 10px;
}


input[type="text"] {
    width: 300px;
}

input{
    margin-bottom: 10px;
}

textarea {
    width: 450px;
    height: 100px;
}

.flow-form dl dt {
    float: left;
    width: 100px;
}

.data-usage-notice {
    padding: 10px 20px;
    background-color: #f4dbdc;
    color: #836a6b;
    display: inline-block;
}

.clear {
    clear: both;
}

label{
    margin-right: 20px;
    display: inline-block;
    width: 160px;
    margin-bottom: 10px;
}
select{
margin-bottom: 10px;
}
.poste{
    padding-top: 20px;
    font-family: Bebasneue , sans-serif;
}

.navbar{
    margin-bottom: 0px;
}

h1{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-top: 3px solid #FEEF0E;
    border-bottom: 3px solid #FEEF0E;
    color: #001BB2;
    text-align: center;
    font-weight: bold;
}