.line {
    border-bottom:1px solid black;
}

.cachet {
    border: 1px solid black;
    width: 230px;
    height: 150px;
}

.italic {
    font-style: italic;
}

/*td {*/
    /*border: 1px solid black;*/
/*}*/

/*th {*/
    /*border: 1px solid black;*/
/*}*/

/*table {*/
    /*border-collapse: collapse;*/
/*}*/