.line {
    border-bottom:1px solid black;
}

.cachet {
    border: 1px solid black;
    width: 300px;
    height: 150px;
}

.italic {
    font-style: italic;
}

.case {
    border:none;
}

thead {
    font-size: 10px;
}

tbody {
    font-size: 10px;
}

p {
    font-size: 12px;
}