body{
    width:100%;

}
.job{
    color: #0078a8;
    text-decoration: underline;
    font-weight: bold;
}

.job:visited{
    color: #3689CE;
    text-decoration: underline;
}

.header{
    padding: 0;
}

.glyphicon{
    font-size: 0.8em;
    color: rgb(0, 55, 112);
    font-weight: bold;
    padding-top: 2em;
    padding-bottom: 0.5em;
}
h1,
h2,
h3{
    color: rgb(0, 55, 112);
}
h2.lead{
    font-weight: bold;
}

p.lead{
    font-family: 'Trirong', serif;
    text-align: center;
}

strong{
    color: rgb(0, 55, 112);
}
.more{

    margin-top: 20px;
}

.information{
    margin-top: 30px;

    padding: 10px 0px 10px 70px;
    background: rgb(226, 227, 228);
    border-radius: 30px;
}

i{
    color: rgb(0, 55, 112);

}

.chiffres {
    padding-top: 3em;
}

