.job{
    color: #0078a8;
    text-decoration: underline;
}

.job:visited{
    color: #0078a8;
    text-decoration: underline;
}

.header{
    padding: 0;
}

.presentation{
    padding: 40px 50px;
    font-size: x-large;
    font-family: "Oswald", sans-serif;
}

.identity{
    font-weight: bold;
    border-left: 15px solid rgb(255, 228, 14);
    padding: 25px;
}
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
h2.lead{
    font-weight: bold;
    font-size: x-large;
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
}

p.lead{
    font-family: 'Trirong', serif;
    font-size: 30px;
    text-align: center;
}

a.job{
    font-weight: bold;

}

.more{
    font-family: Arial, Helvetica, sans-serif;
}

.information{
    margin-top: 100px;
    margin-left: -10%;
    width: auto;
    padding: 10px 0px 10px 70px;
    background: #E9E9E9;;
}




