#form input {
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

textarea{
    width:50%;
    height: 150px;
}

.rejoindre{
    text-align: center;
    padding-bottom: 40px;
    font-family: Bebasneue, sans-serif;
}

select{
    margin-bottom: 10px;
}

button{
    margin-top: 10px;
}

h1{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-top: 3px solid #FEEF0E;
    border-bottom: 3px solid #FEEF0E;
    color: #001BB2;
    font-weight: bold;

}