{% extends 'squelette.html.twig' %}
{% block content %}
    <div id="sidebar">
        {{ render(controller(
        'DojoBundle:Actuality:actuOnly'
        )) }}
    </div>
{{ form(form) }}
{% endblock %}